/*header*/
header{
  background-color: yellow;
  width: 100vw;
  height: 15vh;
  border: 1px solid black;
}

/*left side*/
.left{
  display: inline-block;
  background-color: blue;
  float: left;
  width: 20vw;
  height: 85vh;
  border: 1px solid black;
}

.left img{
  margin: 10% 20% 10% 22%;
}

#artist{
  margin: 10% 20% 0% 20%;
}

#location{
  margin: 10% 20% 0% 20%;
}

button{
  margin-left: 20%;
}

/*middle section*/
body{
  overflow-x: hidden;
}

main{
  display: inline-block;
  background: green;
  float: left;
  width: 60vw;
  height: 85vh;
  border: 1px solid black;
}

h1{
  text-align: center;
}

#container{
  padding: 5% 10% 10% 10%;
}

/*right side*/
.right{
  display: inline-block;
  position: absolute;
  float: right;
  background-color: orange;
  width: 18vw;
  height: 85vh;
  padding-left: 7.4px;
  border: 1px solid black;
}

.right img{
  margin: 30% 20% 30% 15%;
}

/*footer*/
footer{
  position: fixed;
  left:0px;
  bottom:0px;
  height:5vh;
  width:100vw;
  background-color: purple;
  border: 1px solid black;
}
