header{
  background-color: yellow;
  width: 99.85vw;
  height: 15vh;
  border: 1px solid black;
}

.left{
  display: inline-block;
  background-color: blue;
  float: left;
  width: 20vw;
  height: 80vh;
  border: 1px solid black;
}

.left img{
  margin: 10% 20% 10% 22%;
}

#artist{
  margin: 10% 20% 0% 20%;
}

#location{
  margin: 10% 20% 0% 20%;
}

button{
  margin-left: 20%;
}

main{
  display: inline-block;
  background: green;
  float: left;
  width: 60vw;
  height: 80vh;
  border: 1px solid black;
}

h1{
  text-align: center;
}

#container{
  padding: 5% 10% 10% 10%;
}

.right{
  display: inline-block;
  background-color: orange;
  position: fixed;
  width: 19.9vw;
  height: 80vh;
  border: 1px solid black;
}

.right img{
  margin: 30% 20% 30% 15%;
}

footer{
  position:fixed;
  left:0px;
  bottom:0px;
  height:5vh;
  width:100%;
  background-color: purple;
  border: 1px solid black;
}
